body{
    overflow: hidden;
    background: green

}.table{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: bottom repeat-x url(mesa.png);
    background-size: 400px;
}
.card{
    width: 110px;
    height: 160px;
    cursor: pointer;
    transition: .2s;
    
}
.card:first-child{
    transform: rotate(-20deg);
    margin-top: 20px;
    margin-right: -28px;
}
.card:last-child{
    transform: rotate(20deg);
    margin-top: 20px;
    margin-left: -30px;
}
.mine .card:hover{
    z-index: 4;
    transform: scale(1.15);
}
.card img{
    width: 100%;
    height: 100%;
}
.deck{
    border-color: blue;
    display: flex;
    width: 480px;
    position: absolute;
    height: 160px;
    left: 40%;
}
.mine{
    bottom: 0px
}
.enemy{
    top: 0
}
button{
    position: absolute;
}
.flipped-card{
    background: center no-repeat url(flipped-card.png);
    background-size: 110px 160px;
    border-radius:10px
}
.tema{
    position: absolute;
    top: 0;
    left: 0;
}